@import 'colors';

.chat-room {
    display: flex;
    width: 100%;
    height: 100vh;
}

.chat-search-block {
    height: 55px;
    width: 100%;
    background-color: $wa-light;
    border: 1px solid $wa-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    input {
        padding-left: 20px !important;
        font-size: 14px !important;
    }

    i {
        font-size: 20px !important;
    }
}

.chat-participants {
    min-width: 330px;
    width: 30%;
    height: 100%;
    border-right: 1px solid #e7e7e7;
}

.chat-participants-toolbar {
    background: $wa-grey;
    border: .5px solid $wa-grey;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.chats-participants-toolbar-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-clip: $wa-light;
    margin-right: 13px;

    & > img {
        width: 100%;
        height: 100%;
    }
}

.chats-list {
    max-height: calc(100vh - 110px);
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #fff;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #bfbfbf; 
    }
}

.chats-list-item {
    height: 70px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.active {
        background-color: $wa-grey;
    }

    &:hover:not(.active) {
        background-color: $wa-light;
    }
}

.chats-list-item-disabled {
    height: 70px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chats-list-item-avatar {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 1px solid $wa-grey;
    overflow: hidden;
    background-clip: $wa-grey;
    margin-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
        width: 100%;
        height: 100%;
    }
}

.chats-list-item-content {
    height: 100%;
    width: calc(100% - 40px);
    border-bottom: 1px solid $wa-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chats-list-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    & > div {
        font-size: 15px;
        font-weight: 400;
    }

    & > span {
        font-size: 11px;
        color: #8c8c8c;
    }
}

.chats-list-item-subtitle {
    font-size: 13px;
    color: #999999;
    user-select: none;
}

.chat-box {
    width: 70%;
    max-width: calc(100% - 260px);
    height: 100%;
    background: $wa-light;
}

.chat-box-intro {
    background-color: $wa-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    & > div {
        width: 80%;
        min-width: 280px;
        height: 280px;
        background-image: url('../wa-intro-pic.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
    }

    & > h1 {
        font-size: 36px;
        color: #4b5961;
        font-weight: 300;
        text-align: center;
    }

    & > span {

    }
}

.chat-current {
    height: 100%;
}

.chat-box-toolbar {
    background: $wa-grey;
    border: .5px solid $wa-grey;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.chat-box-content {
    background-image: url('../wa-wallpaper.png');
    background-size: 55%;
    height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    overflow-y: auto;
    background-position: fixed;
    display: flex;
    flex-direction: column-reverse;
}

.chat-box-preloader {
    position: absolute;
    bottom: -55px;
    width: 100%;
    display: flex;
    justify-content: center;

    & > .chat-box-preloader-container {
        background-color: #fff;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, .3);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        .preloader-wrapper {
            width: 25px !important;
            height: 25px !important;
        }
    }   
}

.chat-box-message-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &.own {
        justify-content: flex-start;
    }
}

.chat-box-message {
    position: relative;
    min-height: 40px;
    width: auto;
    max-width: 70%;
    background: $wa-green-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 20px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 8px 0 8px 8px;

    &.own {
        background: white;
        border-radius: 0 8px 8px 8px;
    }

    & > .chat-box-message-tail {
        position: absolute;
        top: 0;
        right: -6px;
        background: $wa-green-light;
        width: 8px; 
        height: 8px;
        border-radius: 0 0 100% 0;  
    }

    &.own > .chat-box-message-tail {
        background: white;
        border-color: white;
        left: -6px !important;
        border-radius: 0 0 0 100% !important;  
    }

    & > div:nth-child(2) {
        font-size: 13px;
    }

    & > span {
        font-size: 11px;
        font-weight: 100;
        color: #999999;
        align-self: flex-end;
        padding: 5px 0;
        margin-left: 15px;
    }    
}

.chat-box-controls {
    background: $wa-grey;
    border: .5px solid $wa-grey;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.chat-box-message-send-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chat-box-controls-field {
    width: calc(100% - 40px) !important;
    max-width: calc(100% - 40px) !important;
    margin: 0 10px;
}