$wa-green: #1ebea5;
$wa-green-dark: #128c7e;
$wa-light: #f7f9fa;
$wa-dark: #4d4d4d;
$wa-grey: #eee;
$wa-lightgrey: #e8e8e8;

@each $color in red, green, white {
    .text-#{$color} {
        color: #{$color} !important;
    }
}

.text-wa-green {
    color: $wa-green;
}

.wa-green {
    background-color: $wa-green;
}

.wa-green-dark {
    background-color: $wa-green-dark;
}