@import 'colors';

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 260px;
    width: 30%;
    z-index: 2;
}

.slideInLeft {
    animation: slideInLeft .3s;
    -webkit-animation: slideInLeft .3s;
    -moz-animation: slideInLeft .3s;
}

@keyframes slideInLeft {
    0% { transform: translateX(-100%) }
    100% { transform: translateX(0%) }
}

.slideOutRight {
    animation: slideOutRight .3s;
    -webkit-animation: slideOutRight .3s;
    -moz-animation: slideOutRight .3s;
}

@keyframes slideOutRight {
    0% { transform: translateX(0%) }
    100% { transform: translateX(-100%) }
}

.drawer-toolbar {
    background-color: #00bfa5;
    height: 108px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & > div {
        height: 58px;
        display: flex;
        align-items: center;
    }

    span {
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        margin-left: 15px;
    }
}

.drawer-search-block {
    height: 49px;
    width: 100%;
    background-color: $wa-light;
}

.drawer-content {
    width: 100%;
    height: calc(100vh - 157px);
    overflow-y: auto;
    background-color: #fff;
}